*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

/publish/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

*.sln.iml

/bin/
/.vs/
/cmake/

/vcpkg_installed/
